.contactSection {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
}

.contactDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-family: "Nadall", sans-serif;
    font-size: 130px;
    font-weight: 400;
    margin: 0;
}

.description1 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    width: 600px;
    font-size: 26px;
    font-weight: 700;
}

.bottomPart {
    margin-top: 100px;
}

.description2 {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    width: 600px;
    font-size: 18px;
    font-weight: 700;
}

.instagram, .tiktok, .youtube {
    transform: translate(15px, -7px) rotate(0deg) scale(1);
    margin: 0 7px;
    transition: all 1s ease;
}

.instagram:hover, .tiktok:hover, .youtube:hover {
  transform: translate(15px, -7px) rotate(360deg) scale(1.3);
}


.contactRight {
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputGroup {
    display: flex;
    gap: 20px;
}

.label, .inputFirstName, .inputLastName {
    display: block;
}

.label {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}

.inputFirstName, .inputLastName, .inputEmail, .textareaMessage {
    border-radius: 2px;
}

.inputEmail {
    width: 365px;
    height: 20px;
}

.textareaMessage {
    width: 100%;
    height: 150px;
    min-height: 150px;
    resize: vertical;
}

.submitButton {
    margin-left: auto;
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

@media (max-width: 1508px) {
    .contactDiv {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 70px;
        width: 100%;
    }
}

@media (max-width: 1103px) {
    .contactRight {
        margin-top: 0;
    }
}

@media (max-width: 759px) {
    .contactDiv {
        display: block;
    }

    .textareaMessage {
        width: 365px;
    }

    .submitButton {
        margin-left: 220px;
    }
}

@Media (max-width: 687px) {
    .title {
        font-size: 100px;
    }

    .description1 {
        width: 100%;
        font-size: 20px;
    }

    .descriptionDiv1 {
        width: 100%;
        max-width: 500px;
    }

    .description2 {
        width: 100%;
    }

    .descriptionDiv2 {
        font-size: 16px;
        width: 100%;
        max-width: 500px;
    }
}

@media (max-width: 467px) {
    .title {
        font-size: 80px;
    }
}

@media (max-width: 435px) {
    .contactSection {
        margin-right: 0;
        margin-left: 15px;
    }
    .title {
        font-size: 60px;
    }
    .description1 {
        font-size: 18px;
    }
    .description2 {
        font-size: 14px;
    }

    .inputGroup {
        flex-wrap: wrap;
    }

    .form {
        width: 100%;
    }

    .inputFirstName, .inputLastName {
        width: 100%;
    }

    .inputGroupFirstName, .inputGroupLastName {
        max-width: 200px;
        width: 100%;
        margin-right: 35px;
    }

    .inputGroupEmail, .inputGroupMessage {
        display: block;
        margin-right: 35px;
    }

    .inputEmail, .textareaMessage {
        width: 100%;
    }

    .submitButton {
        margin-left: auto;
        margin-right: 20px;
    }
}

@media (max-width: 279px) {
    .title {
        font-size: 50px;
    }
    .description1 {
        font-size: 16px;
    }
    .description2 {
        font-size: 12px;
    }
}

@media (max-width: 235px) {
    .instagram, .tiktok, .youtube {
        transform: translate(10px, -7px) rotate(0) scale(0.8);
        margin: 0 4px;
    }

    .instagram:hover, .tiktok:hover, .youtube:hover {
        transform: translate(10px, -7px) rotate(360deg) scale(1.3);
    }
}